@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  /* color: rgb(5, 162, 0); */
  color: rgb(104, 106, 113);
  font-family: "Nunito", sans-serif;
  background: rgb(178, 198, 205);
}
